<div class="home__container">
    <app-card gameCover="assets/lor.jpg" gameLabel="Exclusivo" gameType="Card Game" gamePrice="Free to play"
        gameLink="https://playruneterra.com/pt-br/">
    </app-card>
    <app-card gameCover="assets/valorant.png" gameLabel="Exclusivo" gameType="FPS" gamePrice="Free to play"
        gameLink="https://playvalorant.com/pt-br/"></app-card>
    <app-card gameCover="assets/dota-2.jpg" gameLabel="Lançamento" gameType="MOBA" gamePrice="Free to play"
        gameLink="https://www.dota2.com/home"></app-card>
</div>